h1{
    color: red;
}
p{
    border: 0ch;
    width: 30%;
    background-color: purple;
    font-style: normal;
    font-size: larger;
    word-spacing: 0%;color: aliceblue;
}
h2{
    color:yellow;
}
h3{
    color:purple;
}
